.vscode/

Path/_ZIP

Path/nvim.*
Path/devcpp.*
Path/sublime.*
Path/geany.*
Path/vim.*
Path/vifm.*
Path/gvim.*

Path/ggdb.cmd
Path/farr.cmd
Path/far.*

Path/txt_to_docx.cmd
Path/mkcdir.cmd
Path/cate.*
Path/mkcpp.cmd
Path/tp.cmd

Path/proexp.*
