.vscode/

Path/_ZIP

Path/nvim.*
Path/devcpp.*
Path/sublime.*
Path/geany.*
Path/vim.*
Path/vifm.*
Path/gvim.*
Path/vi.*

Path/ggdb.cmd
Path/farr.cmd
Path/far.*

Path/txt_to_docx.cmd
Path/mkcdir.cmd
Path/cate.*
Path/mkcpp.cmd
Path/tp.cmd

Path/vlc.*
Path/proexp.*
Path/speedtest.exe
Path/bat.exe


vim-config/settings/python_provider.vim
